.section {
  min-height: 100dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 30px;

  & + .section {
    /* all but the first element */
    padding-top: 70px;
  }
}

.header {
  width: 100dvw;
  display: grid;
  grid-template-columns: auto 30%;
  grid-template-rows: 100%;

  /* text-shadow: 0 0 10px #0f0ffa; */

  & > h2 {
    align-self: center;
    justify-self: center;
    text-align: center;

    font-size: 2dvw;

    & > .linkHL {
      text-decoration: none;

      transition: all 300ms linear;

      background-image: linear-gradient(
        45deg,
        orange 10%,
        #a00fb0 50%,
        blue 75%
      );

      background-repeat: no-repeat;
      background-size: 400% 100%;
      background-position-x: 100%;

      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      /* text-fill-color: transparent; */

      &:hover {
        background-position-x: 25%;
      }
    }
  }
}

.title {
  font-size: 4dvw;
  /* margin-left: 20px */
}

.hl {
  background-image: linear-gradient(
    75deg,
    rgb(10, 10, 255) 25%,
    rgb(100, 100, 255) 50%,
    rgb(10, 10, 255) 75%
  );

  background-repeat: repeat-x;
  background-size: 400% auto;
  animation: ripple 3s linear infinite;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}

@keyframes ripple {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}

.gradientFill {
  position: absolute;

  width: 100dvw;
  height: 15dvh;

  background: linear-gradient(to top, black, transparent);

  bottom: 0;
  left: 0;
}

.services, .fleet {
  flex-direction: column;

  & > h1 {
    font-size: 3rem;
  }

  & > p {
    width: 75%;
    text-align: center;

    font-weight: 300;

    color: var(--text-med);
  }
}

.serviceGrid {
  align-self: center;

  width: 90%;
  height: 100%;
  justify-self: center;
  margin-top: 50px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 50px;
}
